.App {
   font-size: 18px;
   width: 20%;
   margin: auto;
}
.list-item span {
   margin-right: 25px;
}
.list-item button {
   margin: 5px;
}
.input-for-edit {
   display: block;
   margin-bottom: 10px;
}
